
.main {
  margin: 16px;
}

.login {
  background-color: transparent;

  .daifee-rc-popup-main {
    height: 100%;

    >div {
      padding: 16px;
    }
  }

  input {
    display: block;
    width: 100%;
    margin: 14px 0;
    outline: none;
    border: 1px solid #ddd;
    line-height: 34px;
  }
}
