@import '../variables';

// 间隔
$gap: 15px;

// 字体颜色
$font-color-1: #000;
$font-color-2: #888;


// 字体大小
$font-size-1: 14px;
$font-size-2: 17px;

$cells-bg: #fff;
$hr-color: #d9d9d9;  // 分割线颜色
$active-color: #ececec;  // 点击状态背景

// 分割线
@mixin hr() {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  font-size: 0;
  background-color: $hr-color;
  transform: scaleY(.5);
}

@mixin arrow() {
  content: ' ';
  display: inline-block;
  transform: rotate(45deg);
  height: 6px;
  width: 6px;
  border-width: 2px 2px 0 0;
  border-color: #c8c8cd;
  border-style: solid;
  position: relative;
  margin-left: .3em;
  flex-shrink: 0;
}


$selector: '.#{$namespace}-cell';
$selector-cells: '.#{$namespace}-cells';

#{$selector-cells} {
  position: relative;
  margin-top: 1.17647059em;
  background-color: $cells-bg;
  line-height: 1.41176471;
  font-size: 17px;
  overflow: hidden;

  &:before, &:after {
    @include hr();
  }

  &:before {
    top: 0;
    transform-origin: 0 0;
  }

  &:after {
    bottom: 0;
    transform-origin: 0 100%;
  }

  &-title {
    margin-top: .77em;
    margin-bottom: .3em;
    padding: 0 $gap;
    color: $font-color-2;
    font-size: $font-size-1;

    & + #{$selector-cells} {
      margin-top: 0;
    }
  }

  &-tips {
    margin-top: .3em;
    color: $font-color-2;
    padding: 0 $gap;
    font-size: $font-size-1;
  }
}


#{$selector} {

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px $gap;

  // for <a />
  text-decoration: none;
  color: inherit;

  &:before {
    @include hr();
    top: 0;
    left: $gap;
    transform-origin: 0 0;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }

  &-body {
    flex-grow: 1;
  }

  &-header {

  }

  &-footer {
    color: $font-color-2;
  }



  &-access {
    &:active {
      background-color: $active-color;
    }
  }


  &-arrow {
    &:after {
      @include arrow();
    }
  }

}

