* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0); }

html, body, #app {
  height: 100%; }

body {
  margin: 0;
  padding: 0; }

h1 {
  text-align: center;
  color: #8BC34A; }

.wrap {
  padding: 0 16px; }

.scroll-horizontal > div {
  display: inline-block; }

.scroll-horizontal ul {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 100%;
  padding: 10px;
  white-space: nowrap;
  box-sizing: border-box;
  display: inline-block; }
  .scroll-horizontal ul > li {
    box-sizing: border-box;
    display: inline-block;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #eee;
    margin-left: 10px; }
    .scroll-horizontal ul > li:first-child {
      margin-left: 0; }
