

$bg-color: #fbf9fe;
$title-color: #3cc51f;
$sub-title-color: #888;


body {
  background-color: $bg-color;
  margin: 0;
}

.page {


  &-header {
    text-align: center;

    >h1 {
      color: $title-color;
    }

    >p {
      color: $sub-title-color;
    }
  }

  &-body {
    margin-top: 40px;
  }
}
