@import '../variables';

$default-color: #AAAAAA;
$info-color: #01BAD2;
$success-color: #60BE29;
$warning-color: #FF6100;
$danger-color: #E01515;

$top: 30px;
$enter-top: 20px;

$opacity: 1;
$enter-opacity: .3;

$selector: '.#{$namespace}-notification';

#{$selector} {

  &-container {
    position: fixed;
    left: 0;
    right: 0;
    top: -1px;
    height: 0px;
    margin: 0;
    padding: 0;
  }

  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 6px;
  text-align: center;
  transition-property: opacity, top;
  opacity: $opacity;
  top: $top;

  &-enter {
    opacity: $enter-opacity;
    top: $enter-top;

    &-active {
      opacity: $opacity;
      top: $top;
    }
  }

  &-leave {
    opacity: $opacity;
    top: $top;

    &-active {
      opacity: $enter-opacity;
      top: $enter-top;
    }
  }

  &>span {
    display: inline-block;
    padding: 5px 12px;
    color: #fff;
    border-radius: 8px;
    max-width: 60%;
  }

  &-default > span {
    background-color: $default-color;
  }

  &-info > span {
    background-color: $info-color;
  }

  &-success > span {
    background-color: $success-color;
  }

  &-warning > span {
    background-color: $warning-color;
  }

  &-danger > span {
    background-color: $danger-color;
  }
}
