@import '../variables';

.#{$namespace} {
  &icon-attention {
    display: inline-block;
    position: relative;
    background-color: red;
    border-radius: 50%;

    &:after, &:before {
      display: block;
      content: '';
      position: absolute;
      left: 50%;
      width: 0.12em;
      margin-left: -0.06em;
      background-color: white;
      border-radius: 0.04em;
    }

    &:after{
      top: 0.12em;
      height: 0.5em;
    }

    &:before{
      top: 0.7em;
      height: 0.12em;
    }
  }
}

