.horizontal-scroll {
  box-sizing: border-box;
  background-color: #eee;

  & > div {
    display: inline-block;
  }

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    height: 100px;
    padding: 8px;
    display: inline-block;
  }

  & li {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-left: 8px;
    background-color: #fff;
    text-align: center;
    line-height: 100px;

    &:first-child {
      margin-left: 0;
    }
  }
}
