@import '../variables';

$selector: '.#{$namespace}-mask';

#{$selector} {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;

  opacity: 0.3;

  &-transparent {
    background-color: transparent;
  }

  &-enter {
    opacity: 0.01;

    &-active {
      opacity: 0.3;
    }
  }

  &-leave {
    opacity: 0.3;

    &-active {
      opacity: 0.01;
    }
  }
}

