@import '../variables';

$selector: '.#{$namespace}-toast';

#{$selector} {
  position: fixed;
  z-index: $z-index-toast;
  top: 50%;
  left: 50%;
  min-width: 7.6em;
  height: 7.6em;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(40, 40, 40, .7);
  border-radius: 5px;
  text-align: center;

  // 为了内容垂直居中
  > div {
    position: relative;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  // content
  p {
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
  }
}
