@import '../variables';

$selector: '.#{$namespace}-page';

@mixin hide() {
  opacity: 0.2;
  transform: translate3d(100%, 0, 0);
}

@mixin show() {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
}

$selector {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  transition-property: opacity, transfrom;

  &-enter {
    @include hide();

    &-active {
      @include show();
    }
  }

  &-leave {
    @include show();

    &-active {
      @include hide();
    }
  }
}
