@import '../variables';

$selector: '.#{$namespace}-page';

@mixin transform-leave() {
  opacity: 0.01;
  transform: translate3d(100%, 0, 0);
}

@mixin transform-enter() {
  opacity: 1;
  transform: translate3d(0%, 0, 0);
}

@mixin opacity-leave() {
  opacity: 0.01;
}

@mixin opacity-enter() {
  opacity: 1;
}

#{$selector}-scene {
  position: relative;
  height: 100%;

  // push
  &-push-enter {
    @include transform-leave();

    &-active {
      @include transform-enter();
    }
  }

  &-push-leave {
    @include opacity-enter();

    &-active {
      @include opacity-leave();
    }
  }

  // pop
  &-pop-enter {
    @include opacity-leave();

    &-active {
      @include opacity-enter();
    }
  }

  &-pop-leave {
    @include transform-enter();

    &-active {
      @include transform-leave();
    }
  }

  // replace  与 push 相同
  &-replace-enter {
    @include transform-leave();

    &-active {
      @include transform-enter();
    }
  }

  &-replace-leave {
    @include opacity-enter();

    &-active {
      @include opacity-leave();
    }
  }
}

#{$selector} {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  transition-property: opacity, transform;
}
