/**
 * SASS 全局变量
 *
 * 所有文件可以引用
 */

/**
 * 命名空间
 */
$namespace: 'daifee-rc';



/**
 * 颜色
 */
$title-color: #333;
$text-color: #888;
$mask-bg: rgba(0, 0, 0, 0.2);
$mask-bg-transparent: rgba(0, 0, 0, 0);


/**
 * 定义 z-index
 */
$z-index-toast: 9999;
$z-index-mask: 9998;
$z-index-popup: 9997;
